/* You can add global styles to this file, and also import other style files */
//TODO

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

// doesn't do anything
@import '~@angular/material/_theming.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@include mat-core();

html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// @import '~bootstrap/scss/bootstrap';

