<mat-card>
  <mat-card-title>Add City Trip</mat-card-title>
  <!-- turn location autocorrect on or off -->
  <mat-slide-toggle color="primary" [(ngModel)]="isCheckedLocationAutocorrect"
  (click) = "invalidLocation ? geocodeLocationToCoord(false) : '' "
    >Location Autocorrect:
    {{
      isCheckedLocationAutocorrect ? "enabled" : "disabled"
    }}</mat-slide-toggle
  >
  <div class="clearfix"></div>
  <div class="verifiedLocation">
    <!-- workaround for slow if => still had the same problem with this workaround -->
    <!-- <div [ngClass]="{ hidden: !validLocation }"> -->
    <!-- super slow if, don't know why? -->
    <!-- clicking on a form field triggers the if, so that's a solution -->
    <div *ngIf="validLocation; else processingLocationOrInvalidLocation">
      Location is verified by Google
      <mat-icon [ngStyle]="{ color: 'green' }">verified_user</mat-icon>
    </div>
    <!-- </div> -->
    <!-- workaround for slow if -->
    <!-- <div [ngClass]="{ hidden: validLocation }"> -->
    <ng-template #processingLocationOrInvalidLocation>
      <div *ngIf="invalidLocation; else processingLocation">
        Location was not found by Google
        <mat-icon [ngStyle]="{ color: 'red' }">location_off</mat-icon>
        <br>
        <em>Try turning on autocorrect (experimental).</em>
      </div>
      <ng-template #processingLocation>
        Location is being verified by Google ...
        <!-- <mat-icon>find_replace</mat-icon> -->
        <mat-icon>youtube_searched_for</mat-icon>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </ng-template>
    </ng-template>
    <!-- </div> -->
  </div>
  <mat-card-content>
    <form [formGroup]="tripFG" (ngSubmit)="onSubmit()">
      <!-- City the user wants to go to -->
      <div>
        <mat-form-field>
          <input
            matInput
            aria-label="City"
            placeholder="City"
            type="text"
            formControlName="city"
            required
          />
          <mat-error *ngIf="tripFG.get('city')['errors']">
            {{ getErrorMessages(tripFG.get("city")["errors"]) }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Country the chosen city is located in -->
      <div>
        <mat-form-field>
          <input
            matInput
            aria-label="Country"
            placeholder="Country"
            type="text"
            formControlName="country"
            required
          />
          <mat-error *ngIf="tripFG.get('country')['errors']">
            {{ getErrorMessages(tripFG.get("country")["errors"]) }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Date range input forms integration -->
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input
              matStartDate
              required
              formControlName="startDate"
              placeholder="Start date"
            />
            <input
              matEndDate
              required
              formControlName="endDate"
              placeholder="End date"
            />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>

          <mat-error
            *ngIf="tripFG.controls.startDate.hasError('matStartDateInvalid')"
            >Invalid start date</mat-error
          >
          <mat-error
            *ngIf="tripFG.controls.endDate.hasError('matEndDateInvalid')"
            >Invalid end date</mat-error
          >
        </mat-form-field>
      </div>

      <!-- Min and Max duration of the trip (in days) -->
      <div>
        <mat-form-field>
          <input
            matInput
            aria-label="Minimum duration of the trip"
            placeholder="Minimum duration in Days"
            type="text"
            formControlName="minDays"
            required
          />
          <mat-error *ngIf="tripFG.get('minDays')['errors']">
            {{ getErrorMessages(tripFG.get("minDays")["errors"]) }}
          </mat-error>
        </mat-form-field>
        <span> - &nbsp;</span>
        <mat-form-field>
          <input
            matInput
            aria-label="Maximum duration of the trip"
            placeholder="Maximum duration in Days"
            type="text"
            formControlName="maxDays"
            required
          />
          <mat-error *ngIf="tripFG.get('maxDays')['errors']">
            {{ getErrorMessages(tripFG.get("maxDays")["errors"]) }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- total budget you estimate to spend on the entire trip -->
      <div>        
        <mat-form-field>
          <input
            matInput
            aria-label="total budget you estimate to spend on the entire trip"
            placeholder="Total budget of Trip"
            type="text"
            formControlName="totalBudget"
          />
          <mat-error *ngIf="tripFG.get('totalBudget')['errors']">
            {{ getErrorMessages(tripFG.get("totalBudget")["errors"]) }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- list of tourist attractions you want to see on the trip -->
      <div
        formArrayName="attractions"
        *ngFor="
          let item of tripFG.get('attractions')['controls'];
          let i = index
        "
      >
        <div [formGroupName]="i">
          <mat-form-field>
            <input
              matInput
              type="text"
              aria-label="name"
              placeholder="Name"
              formControlName="name"
            />
          </mat-form-field>
          <span> &nbsp; </span>
          <mat-form-field>
            <mat-select
              placeholder="Attraction Type"
              aria-label="attraction type"
              formControlName="type"
            >
              <mat-option *ngFor="let type of attractionTypes" [value]="type">
                {{ type }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <span> &nbsp; </span>
          <mat-form-field>
            <input
              matInput
              placeholder="Budget"
              aria-label="attraction budget"
              type="text"
              formControlName="budget"
            />
          </mat-form-field>
        </div>
        <mat-error *ngIf="item.errors && item.get('name').touched">
          {{ getErrorMessage(item.errors) }}
        </mat-error>
      </div>
      <button type="submit" mat-raised-button [disabled]="!(tripFG.valid && validLocation)">
        Add Trip
      </button>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="error" *ngIf="errorMessage" data-cy="appError">
  Error while adding the Trip: {{ errorMessage }}
</mat-card>
<mat-card
  class="confirmation"
  *ngIf="confirmationMessage"
  data-cy="appConfirmation"
>
  {{ confirmationMessage }}
</mat-card>
<!-- REMOVE {{ tripFG.value | json }} {{ tripFG.status }} <br /> -->
<!-- {{ spy.className }} <br /> -->
<!-- {{ tripFG.get("city")["errors"] | json }} -->
