 /* only thing that needs to be overwritten */
 .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: fit-content;
    min-width: 250px;
    // width: fit-content; 0
    margin: 0 5px 0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: normal;
    transition: all 0.2s ease-in-out;
  }

// .peopleGoing {
//   // display: flex;
//   right: 0;
//   float: right;
// }

// dumbass material cards
::ng-deep .mat-card-header-text {
  margin: 0px;
  margin-right: auto;
}
// :host /deep/ .mat-card-header-text {
//   margin: 0;
// }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    // transform: translateY(-10px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .deleteTripButton{    
    float: right;
  }
  
  .notGoingTripButton{    
    float: left;
  }
  .definitelyGoingTripButton{    
    float: right;
  }
  .maybeGoingTripButton{    
    float: right;
  }