<div class="card-container" *ngIf="trip">
  <div class="card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ trip.city }} <mat-icon>flight</mat-icon>
        </mat-card-title>
        <span class="peopleGoing">
          <!-- people who might go (in orange) -->
          <span style="color: orange">
            {{ giveNumberOfGoingStatusParticipants(2) }}
          </span>
          <mat-icon>people</mat-icon>
          <!-- people who will definitely go (in green) -->
          <span style="color: green">
            {{ giveNumberOfGoingStatusParticipants(1) }}
          </span>
        </span>
        <mat-card-subtitle>
          {{ trip.country }}
        </mat-card-subtitle>
        <mat-card-subtitle>
          <em>organized by</em> {{ trip.organizerName }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          <em>Possible travel period: </em><br />
          from {{ trip.startDate | date: "longDate" }} <br />
          until {{ trip.endDate | date: "longDate" }}
        </p>
        <p>
          <em>Length of city trip: </em><br />
          {{ trip.minDays }} to {{ trip.maxDays }} days
        </p>
        <p *ngIf="trip.totalBudget">
          <em>Budget of city trip: </em><br />
          {{ trip.totalBudget }} $
        </p>
        <p>
          <em>Participants:</em> <br />
          <span *ngIf="!isAnyoneGoing()"> No one is going on this trip. </span>
        </p>
        <div *ngFor="let par of trip.participants">
          <p *ngIf="par.goingStatus != 0">
            TravelerId: {{ par.travelerId }} <br />
            Full name: {{ par.travelerName }} <br />
            Going status:
            {{ par.goingStatus == 1 ? "is definitely going" : "might go" }}
          </p>
        </div>

        <h4 mat-subheader>Things I really want to see:</h4>
        <p *ngIf="trip.attractions.length == 0">
          No tourist attractions were specified by the organizer for this trip.
        </p>
        <mat-list>
          <mat-list-item *ngFor="let attraction of trip.attractions">
            <app-attraction [attraction]="attraction"></app-attraction>
          </mat-list-item>
        </mat-list>

        <!-- delete and restore buttons -->
        <!-- Only the organizer of the trip can delete this trip -->
        <div *ngIf="loggedInTraveler$ | async as loggedInTraveler">
          <div *ngIf="trip.travelerId == loggedInTraveler[0].travelerId">
            <button
              mat-raised-button
              matTooltip="Delete this Trip"
              aria-label="Button to be pressed if you want to delete this Trip"
              (click)="deleteTrip()"
              class="deleteTripButton"
              [disabled]="isDeleted"
            >
              <mat-icon [ngStyle]="{ color: 'red' }">delete_forever</mat-icon>
            </button>
            <button
              mat-raised-button
              matTooltip="Restore this Trip"
              aria-label="Button to be pressed if you want to restore this Trip"
              (click)="restoreTrip()"
              class="restoreTripButton"
              [disabled]="!isDeleted"
            >
              <mat-icon [ngStyle]="{ color: 'green' }"
                >restore_from_trash</mat-icon
              >
            </button>
          </div>

        <!-- decision buttons -->
        <button
          mat-raised-button
          matTooltip="You don't want to go on this Trip"
          aria-label="Button to be pressed if You don't want to go on this Trip"
          (click)="addParticipant(loggedInTraveler[0], 0)"
          class="notGoingTripButton"
        >
          <mat-icon [ngStyle]="{ color: 'red' }">clear</mat-icon>
        </button>
        <div
          matTooltip="You are going on this Trip! :)"
          [matTooltipDisabled]="!isUserParticipant(loggedInTraveler[0], 1)"
        >
          <button
            mat-raised-button
            matTooltip="You definitely want to go on this Trip"
            aria-label="Button to be pressed if You definitely want to go on this Trip"
            (click)="addParticipant(loggedInTraveler[0], 1)"
            class="definitelyGoingTripButton"
            [disabled]="isUserParticipant(loggedInTraveler[0], 1)"
          >
            <mat-icon [ngStyle]="{ color: 'green' }">where_to_vote</mat-icon>
          </button>
        </div>
        <div
          matTooltip="You might go on this Trip! :)"
          [matTooltipDisabled]="!isUserParticipant(loggedInTraveler[0], 2)"
        >
          <button
            mat-raised-button
            matTooltip="You might go on this Trip"
            aria-label="Button to be pressed if You might go on this Trip"
            (click)="addParticipant(loggedInTraveler[0], 2)"
            class="maybeGoingTripButton"
            [disabled]="isUserParticipant(loggedInTraveler[0], 2)"
          >
            <mat-icon [ngStyle]="{ color: 'orange' }">add_location</mat-icon>
          </button>
        </div>
      </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-card class="error" *ngIf="errorMessage">
  <mat-card-content>
    Error loading the city trip: {{ errorMessage }}. <br />
    <br />
    Please try again later. <br />
    <br />
    If you are able to load the full list of trips but not this one, then there
    is probably no trip with this id on the server. <br />
    If you deleted and restored your trip, the trip got renewed and got a new
    id.
    <br />
    Go back to the list of trips to find the right trip (it will be there if it
    was restored correctly).
  </mat-card-content>
</mat-card>
