<div fxLayout="column" fxLayoutGap="2%">
    <app-add-trip (newTrip)="addNewTrip($event)"></app-add-trip>
<mat-card>
    <mat-form-field>
        <input matInput placeholder="city to filter on" type="text"
            #filter />
    </mat-form-field>
    <button (click)="applyFilter(filter.value)" mat-raised-button>
        filter on city
    </button>
</mat-card>
<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutGap="5%"
  fxLayoutAlign="center"
>
  <div
    class="trip"
    *ngFor="let trip of (trips | tripFilter: filterTripCity)"
    fxFlex="0 0 calc(25%-0.5%)"
    fxFlex.xs="100%"
  >
    <app-trip [trip]="trip"></app-trip>
  </div>
</div>
</div>
