// body{    
//     background-color: #222;
// }
//@import '~bootstrap/scss/bootstrap';

mat-spinner {
  margin: 0 auto;
}
.tripsScroll {
    padding-top: 15px;
  // height: 650px;
  display: flex;
  overflow-x: auto;
}
.tripsScroll::-webkit-scrollbar {
  display: none;
}
.bigIconLeft {
  //   transform: scale(2);
  display: flex;
  float: left;
  cursor: all-scroll;
  //   padding-right: 11px;
}
.bigIconRight {
  //   transform: scale(2);
  display: flex;
  float: right;
  cursor: all-scroll;
  //   padding-left: 11px;
}
.mapsComponent {
    margin: -5px 0;
}

// indicator 2 fits my page better

$base: 0.6rem;

.indicator2 {
 display: flex;
 justify-content: center;
 align-items: center;
//  width: 100%;
//  height: 100vh;

 
 margin: -150px -60px;
 left: 85%;
 position: absolute;
 //   float: left;
 padding: 0;
 //   display: flex;
 justify-content: center;
 align-items: center;
//  font-family: sans-serif;
 //   background: #222;
 //   position: relative;
 width: 50px;
 height: 50px;

 z-index: 50;

 transform: rotate(270deg);
}

.chevron {
  position: absolute;
  width: $base * 7;
  height: $base * 1.6;
  opacity: 0;
  transform: scale(0.3);
  animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
 content: '';
 position: absolute;
 top: 0;
 height: 100%;
 width: 50%;
 background: #2c3e50;
}

.chevron:before {
 left: 0;
 transform: skewY(30deg);
}

.chevron:after {
 right: 0;
 width: 50%;
 transform: skewY(-30deg);
}

@keyframes move-chevron {
 25% {
  opacity: 1;
	}
 33.3% {
  opacity: 1;
  transform: translateY($base * 7.6);
 }
 66.6% {
  opacity: 1;
  transform: translateY($base * 10.4);
 }
 100% {
  opacity: 0;
  transform: translateY($base * 16) scale(.5);
 }
}


// @import '~bootstrap/scss/bootstrap';

// indicator 1 - doesnt fit my page well

// .indicator {
//   margin: -250px -30px;
//   left: 90%;
//   position: absolute;
//   //   float: left;
//   padding: 0;
//   //   display: flex;
//   justify-content: center;
//   align-items: center;
//   font-family: sans-serif;
//   //   background: #222;
//   //   position: relative;
//   width: 50px;
//   height: 50px;

//   z-index: 50;

//   transform: rotate(315deg);
//   span {
//     position: absolute;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     box-sizing: border-box;
//     border: none;
//     border-bottom: 3px solid #fff;
//     border-right: 3px solid #fff;
//     animation: animate 1s linear infinite;
//     &:nth-child(1) {
//       top: -30px;
//       left: -30px;
//       animation-delay: 0s;
//     }
//     &:nth-child(2) {
//       top: -15px;
//       left: -15px;
//       animation-delay: 0.2s;
//     }
//     &:nth-child(3) {
//       top: 0;
//       left: 0;
//       animation-delay: 0.4s;
//     }
//     &:nth-child(4) {
//       top: 15px;
//       left: 15px;
//       animation-delay: 0.6s;
//     }
//     &:nth-child(5) {
//       top: 30px;
//       left: 30px;
//       animation-delay: 0.8s;
//     }
//   }
// }

// @keyframes animate {
//   0% {
//     border-color: #fff;
//     border-color: rgb(151, 135, 135);
//     border-color: rgb(70, 139, 160);
//     transform: translate(0, 0);
//   }
//   20% {
//     border-color: #fff;
//     border-color: rgb(216, 201, 201);
//     border-color: rgb(70, 139, 160);
//     transform: translate(15px, 15px);
//   }
//   20.1%,
//   100% {
//     // border-color: #ffd64a;
//     border-color: #673ab7;
//   }
// }
