<!-- Would be nice if *ngLet exists -->
<!-- this guy made it but I hope the angular team does it themselves -->
<!-- https://www.npmjs.com/package/ng-let -->
<div *ngIf="trips$ | async as trips">
  <div
    *ngIf="
      trips
        | tripFilterCity: filterTripCity
        | tripFilterCountry: filterTripCountry
        | tripFilterDateRange: filterTripDateRange as filteredTrips
    "
  >
    <!-- <div fxLayout="column" fxLayoutGap="2%"> -->
    <div fxLayout="column">
      <!-- <app-add-trip (newTrip)="addNewTrip($event)"></app-add-trip> -->
      <mat-card>
        <form>
          <mat-form-field>
            <input
              matInput
              placeholder="City to filter on"
              type="text"
              (keyup)="this.filterTripCity$.next($event.target.value)"
              #filterCityValue
            />
            <button
              mat-button
              *ngIf="filterTripCity"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="this.filterTripCity$.next('')"
              (click)="filterCityValue.value = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <span> &nbsp; | &nbsp; </span>
          <mat-form-field>
            <input
              matInput
              placeholder="Country to filter on"
              type="text"
              (keyup)="this.filterTripCountry$.next($event.target.value)"
              #filterCountryValue
            />
            <button
              mat-button
              *ngIf="filterTripCountry"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="this.filterTripCountry$.next('')"
              (click)="filterCountryValue.value = ''"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
          <span> &nbsp; | &nbsp; </span>
          <!-- <form [formGroup]="tripFilterDateRangeFG"> -->
          <mat-form-field appearance="fill">
            <mat-label>Filter on date range</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input
                matStartDate
                placeholder="Start date"
                (dateInput)="inputEventStartDate($event)"
              />
              <input
                matEndDate
                placeholder="End date"
                (dateInput)="inputEventEndDate($event)"
              />
            </mat-date-range-input>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <!-- 
      <mat-error
        *ngIf="tripFG.controls.startDate.hasError('matStartDateInvalid')"
        >Invalid start date</mat-error
      >
      <mat-error
        *ngIf="tripFG.controls.endDate.hasError('matEndDateInvalid')"
        >Invalid end date</mat-error
      > -->
          </mat-form-field>
          <span> &nbsp; | &nbsp; </span>
          <!-- type="reset" sounds great, doesn't work, placeholders don't fall back into place -->
          <button
            mat-raised-button
            type="reset"
            (click)="this.filterTripDateRange[0] = null"
            (click)="this.filterTripDateRange[1] = null"
            (click)="this.filterTripCity$.next('')"
            (click)="filterCityValue.value = ''"
            (click)="this.filterTripCountry$.next('')"
            (click)="filterCountryValue.value = ''"
          >
            Reset Filters
          </button>
          <span> &nbsp; | &nbsp; Found {{ filteredTrips.length }} trips</span>
        </form>
      </mat-card>

      <!-- card that allows you to geocode location and put marker on map -->
      <!-- <app-geocode></app-geocode> -->
      <!-- turned of to save free credit on https://console.cloud.google.com/ -->

      <!-- <div #scrollingTrips class="tripsScroll"> -->
      <!-- if statement no longer working -->
      <!-- because behaviorObservables are never empty? -->
      <!-- <div *ngIf="trips$ | async as trips; else loadingOrError"> -->
      <div #scrollingTrips class="tripsScroll">
        <div *ngIf="trips.length > 0; else loadingOrError">
          <div *ngIf="loggedInTraveler$ | async as loggedInTraveler">
            <!-- <div *ngIf="loggedInTraveler"> -->
            <!-- <div fxLayout.xs="column" fxLayoutGap="" fxLayoutAlign="center">
            <div
              class="trip"
              *ngFor="let trip of filteredTrips"
              fxFlex="0 0 calc(33%-0.5)"
              fxFlex.xs="100%"
            > -->
            <div fxLayoutGap="" fxLayoutAlign="center">
              <div class="trip" *ngFor="let trip of filteredTrips">
                <!-- is hoverTrip a local variable in this html file?? -->
                <!-- it works, but how? -->
                <!-- , trip.id -->
                <app-trip
                  [trip]="trip"
                  [loggedInTraveler]="loggedInTraveler[0]"
                  (mouseenter)="hoverTrip = trip"
                  (mouseleave)="hoverTrip = null"
                  data-cy="tripCard"
                ></app-trip>
              </div>
            </div>
          </div>
        </div>
        <ng-template #loadingOrError>         
          <mat-card class="error" *ngIf="errorMessage; else loading" data-cy="appError">
            <mat-card-content>
              Error loading the city trip list: {{ errorMessage }}. <br />
              Please try again later.
            </mat-card-content>
          </mat-card>
        </ng-template>
      </div>
      <!-- nice extra, this will auto hide depending on screenwidth and amount of filteredTrips -->
      <div *ngIf="displayScrollStuff(filteredTrips.length)">
        <div>
          <div
            class="bigIconRight"
            (mouseover)="scrollDiv(scrollingTrips, -300)"
            (mouseleave)="stopTimer(timer)"
          >
            <mat-icon [ngStyle]="{ color: 'blue' }">skip_next</mat-icon>
          </div>
          <div
            class="bigIconRight"
            (mouseover)="scrollDiv(scrollingTrips, -30)"
            (mouseleave)="stopTimer(timer)"
          >
            <mat-icon [ngStyle]="{ color: 'purple' }">fast_forward</mat-icon>
          </div>
          <div
            class="bigIconRight"
            (mouseover)="scrollDiv(scrollingTrips, -8)"
            (mouseleave)="stopTimer(timer)"
          >
            <mat-icon [ngStyle]="{ color: 'darkgreen' }">fast_forward</mat-icon>
          </div>
          <span
            ><small>
              - Hover over these arrows to scroll (or use
              SHIFT+ScrollWheel)</small
            ></span
          >
          <div
            class="bigIconLeft"
            (mouseover)="scrollDiv(scrollingTrips, 300)"
            (mouseleave)="stopTimer(timer)"
          >
            <mat-icon [ngStyle]="{ color: 'blue' }">skip_previous</mat-icon>
          </div>
          <div
            class="bigIconLeft"
            (mouseover)="scrollDiv(scrollingTrips, 30)"
            (mouseleave)="stopTimer(timer)"
          >
            <mat-icon [ngStyle]="{ color: 'purple' }">fast_rewind</mat-icon>
          </div>
          <div
            class="bigIconLeft"
            (mouseover)="scrollDiv(scrollingTrips, 8)"
            (mouseleave)="stopTimer(timer)"
          >
            <mat-icon [ngStyle]="{ color: 'darkgreen' }">fast_rewind</mat-icon>
          </div>
        </div>
        <div class="indicator2">
          <div class="chevron"></div>
          <div class="chevron"></div>
          <div class="chevron"></div>
        </div>
      </div>
      <ng-template #loading>
        <mat-spinner></mat-spinner>
      </ng-template>
      <!-- shows google maps on webpage with markers of trip locations -->
      <div class="mapsComponent">
        <div *ngIf="loggedInTraveler$ | async as loggedInTraveler">
          <app-gmap
            [trips]="filteredTrips"
            [hoverTrip]="hoverTrip"
            [loggedInTraveler]="loggedInTraveler[0]"
          ></app-gmap>
          <!-- turned of to save free credit on https://console.cloud.google.com/ -->
        </div>
      </div>
    </div>
  </div>
</div>
